<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Reset Password</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-success" *ngIf="serverMessage">
                        {{serverMessage}}
                    </div>
                    <div class="alert alert-danger" *ngIf="serverErrorMessage">
                        {{serverErrorMessage}}. Please try forget password again.
                    </div>
                    <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit($event)">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <p class="text-secondary email">{{userEmail}}</p>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control rounded-0" formControlName="password" id="password" placeholder="Password">
                        </div>
                        <div class="error-messages">
                            <ng-container *ngFor="let error of error_messages.password">
                                <div class="error-message invalid-feedback" *ngIf="resetPasswordForm.get('password').hasError(error.type) && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)">
                                    {{error.message}}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control rounded-0" formControlName="confirmPassword" id="confirmPassword"
                                placeholder="Confirm Password">
                        </div>
                        <div class="error-messages">
                            <ng-container *ngFor="let error of error_messages.confirmPassword">
                                <div class="error-message invalid-feedback" *ngIf="resetPasswordForm.get('confirmPassword').hasError(error.type) && (resetPasswordForm.get('confirmPassword').dirty || resetPasswordForm.get('confirmPassword').touched)">
                                    {{error.message}}
                                </div>
                            </ng-container>
                        </div>
                        <div class="password-match-message invalid-feedback" *ngIf="resetPasswordForm.errors && resetPasswordForm.get('confirmPassword').dirty">
                            Password must match.
                        </div>
                        <button type="submit" class="btn btn-primary float-right" [disabled]="!resetPasswordForm.valid">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>