<div class="container mt-4" *ngIf="product">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">{{product.category}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{product.name}}}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container" *ngIf="product">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngIf="imageBase64">
                <ol class="carousel-indicators">
                    <li *ngFor="let image of imageBase64; let i = index" data-target="#carouselExampleIndicators" attr.data-slide-to="{{i}}"  [ngClass]="i == 0 ? 'active' : ''"></li>
                </ol>
                <div class="carousel-inner">
                    <ng-container *ngFor="let image of imageBase64; let k = index">
                        <div class="carousel-item" [ngClass]="k == 0 ? 'item active' : 'item'">
                            <img class="d-block w-100" [src]="image" alt="First slide" >
                        </div>
                    </ng-container>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="row my-3 mx-3">
                <ng-container *ngFor="let image of imageBase64; let i = index">
                    <div class="col-md-4 my-3">
                        <img class="d-block w-100" data-target="#carouselExampleIndicators" attr.data-slide-to="{{i}}" [src]="image" alt="First slide">
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h2 class="product-name">{{product.name}}</h2>
            </div>
            <div class="row price-content">
                <h1 class="price-final mr-3">
                    <fa-icon [icon]="faRupeeSign"></fa-icon>{{product.price}}
                </h1>
                <h3 class="price-without-discount mr-2" *ngIf="product.discountPercent">
                    <fa-icon [icon]="faRupeeSign"></fa-icon><del>{{(product.price * (100 + product.discountPercent) / 100) | number : '1.0-0'}}</del>
                </h3>
                <h2 class="text-success" *ngIf="product.discountPercent">
                    {{product.discountPercent}}% off
                </h2>
            </div>
            <div class="row ratings">
                <h3 class="rating-icon text-warning">
                    <ng-container  *ngFor="let star of counter(product.averageRating); let i = index">
                        <fa-icon [icon]="faStar"></fa-icon>
                    </ng-container> 
                    <fa-icon [icon]="faStarHalfAlt" *ngIf="isDecimal(product.averageRating)"></fa-icon>
                    <ng-container  *ngFor="let star of counter(noStar(product.averageRating))")>
                        <fa-icon [icon]="faRStar"></fa-icon>
                    </ng-container>
                </h3>
                <!-- <h5 class="rating-text px-1 py-1 my-1">1200 star rating and 250 reviews</h5> -->
            </div>
            <div class="row offers" *ngIf="product.offers" >
                <div class="offer-list" *ngFor="let offer of product.offers">
                    <p>
                        <fa-icon class="text-success mr-1" [icon]="faCheckSquare"></fa-icon>
                        <strong class="mr-1">Bank Offer</strong>{{offer}}
                    </p>
                </div>
                <div class="offer-list">
                    <p>
                        <fa-icon class="text-success mr-1" [icon]="faCheckSquare"></fa-icon>
                        <strong class="mr-1">Coupon Offer</strong>Extra 10% Offer Coupon on <fa-icon
                            [icon]="faTicketAlt"></fa-icon>
                        BookMyShow
                    </p>
                </div>
            </div>
            <div class="row delivery mt-4">
                <h3 class="text-info">
                    <fa-icon [icon]="faMapMarkerAlt" class="mr-2"></fa-icon>
                </h3>
                <p class="delivery-desc">Delivery by 2 Weeks | <span class="text-success">Free.</span></p>

            </div>
            <div class="row size mt-2">
                <h4 class="mr-2 px-1 py-1">Size:</h4>
                <div class="dropdown show" #dropdownName>
                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="stopPropagetion($event)">
                      Select Sizes
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" *ngFor="let size of product.sizes">
                      <a class="dropdown-item" (click)="clickDropDownHandler($event)">{{size}}</a>
                    </div>
                </div>
            </div>
            <div class="row colors mt-2">
                <h4 class="mr-2">Colors:</h4>
                <ng-container *ngFor="let color of product.colors">
                    <button class="btn btn-primary text-light mr-1" [ngStyle]="{'background-color': color, 'border-color': color}">{{color}}</button>
                </ng-container>
            </div>
            <div class="row mt-2">
                <h4 class="seller mr-1">Seller: </h4>
                <p class="seller-name px-1 py-1">{{product.seller}}</p>
            </div>
            <div class="row mt-1">
                <button class="btn btn-success">Add To Cart</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <h2>Similar Products</h2>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-md-3">
            <div class="card">
                <img src="assets/image/bg-98.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-title">
                    <h4>WhiteBeard</h4>
                </div>
                <div class="card-text card-desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique deleniti neque quia, dignissimos nisi repellat ullam omnis facilis error! Voluptate, nisi illum ea reiciendis asperiores expedita rem ullam debitis odit?</p>
                    <a href="" class="btn btn-success text-light">Buy Now</a>
                    <a href="" class="btn btn-danger text-light"><fa-icon [icon]="faCartPlus"></fa-icon>Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/image/857832.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-title">
                    <h4>Trafalgar Law</h4>
                </div>
                <div class="card-text card-desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique deleniti neque quia, dignissimos nisi repellat ullam omnis facilis error! Voluptate, nisi illum ea reiciendis asperiores expedita rem ullam debitis odit?</p>
                    <a href="" class="btn btn-success text-light">Buy Now</a>
                    <a href="" class="btn btn-danger text-light"><fa-icon [icon]="faCartPlus"></fa-icon>Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/image/988738.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-title">
                    <h4>Dracule Mihawk</h4>
                </div>
                <div class="card-text card-desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique deleniti neque quia, dignissimos nisi repellat ullam omnis facilis error! Voluptate, nisi illum ea reiciendis asperiores expedita rem ullam debitis odit?</p>
                    <a href="" class="btn btn-success text-light">Buy Now</a>
                    <a href="" class="btn btn-danger text-light"><fa-icon [icon]="faCartPlus"></fa-icon>Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/image/864197.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-title">
                    <h4>Dracule Mihawk</h4>
                </div>
                <div class="card-text card-desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique deleniti neque quia, dignissimos nisi repellat ullam omnis facilis error! Voluptate, nisi illum ea reiciendis asperiores expedita rem ullam debitis odit?</p>
                    <a href="" class="btn btn-success text-light">Buy Now</a>
                    <a href="" class="btn btn-danger text-light"><fa-icon [icon]="faCartPlus"></fa-icon>Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <h2>Rating and Reviews</h2>
    </div>
    <div class="row my-5">
        <div class="media">
            <img src="assets/image/864488.jpg" class="mr-3" alt="review" width="64" height="auto">
            <div class="media-body">
              <h5 class="mt-0">
                Bartholomeo Kuma
                <span class="rating text-warning">
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStarHalfAlt"></fa-icon>
                </span>
              </h5>
              
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
    </div>
    <div class="row my-5">
        <div class="media">
            <img src="assets/image/948717.png" class="mr-3" alt="review" width="64" height="auto">
            <div class="media-body">
              <h5 class="mt-0">
                Jimbei
                <span class="rating text-warning">
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStarHalfAlt"></fa-icon>
                </span>
              </h5>
              
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
    </div>
    <div class="row my-5">
        <div class="media">
            <img src="assets/image/image00002.jpg" class="mr-3" alt="review" width="64" height="auto">
            <div class="media-body">
              <h5 class="mt-0">
                Enel
                <span class="rating text-warning">
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStarHalfAlt"></fa-icon>
                </span>
              </h5>
              
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
    </div>
    <div class="row my-5">
        <div class="media">
            <img src="assets/image/790588.png" class="mr-3" alt="review" width="64" height="auto">
            <div class="media-body">
              <h5 class="mt-0">
                Marco
                <span class="rating text-warning">
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStar"></fa-icon>
                    <fa-icon [icon]="faStarHalfAlt"></fa-icon>
                </span>
              </h5>
              
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
    </div>
    <div class="row">
        <h2>Post Your Own Reviews</h2>
    </div>
    <div class="row">
        <form class="col-md-12">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comments</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write your own Comment"></textarea>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>
