<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-12">
        <div class="btn-group">
          <button class="btn border dropdown-toggle my-md-4 my-2 bg-primary-color text-white" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">INR</button>
          <div class="dropdown-menu">
            <a [routerLink]="['/pdp']" [queryParams]="{country: 'usd'}" class="dropdown-item">USD</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 text-center">
        <h2 class="my-md-3 site-title text-white">Online Store</h2>
      </div>
      <div class="col-md-4 col-12 text-right">
        <p class="my-md-4 header-links">
          <a href="" class="px-2">About Us</a>
          <a href="" class="px-1">
            <fa-icon [icon]="faSearch" class="p-2 border rounded-circle search-icon mx-2"></fa-icon>
          </a>
          <a [routerLink]="['shopping-cart']" class="px-1">
            <fa-icon [icon]="faShoppingBasket" class="p-2 border rounded-circle basket-icon mx-2"></fa-icon>
          </a>
        </p>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink='/home'>
      <img class="border rounded-circle" src='/assets/image/law.jpg' alt='logo' height="26">
      <span>Startup</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink='/home' routerLinkActive="active">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/events' routerLinkActive="active">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/land' routerLinkActive="active">Landing Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/pdp' routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/products-list' routerLinkActive="active">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/product-details' routerLinkActive="active">Product Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/order-summary' routerLinkActive="active">Order</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" routerLink='/signup' *ngIf="!validUser" routerLinkActive="active">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/signin' *ngIf="!validUser" routerLinkActive="active">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" *ngIf="validUser" routerLinkActive="active">Hello
            {{user.user?.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logoutUser()" *ngIf="validUser" routerLinkActive="active">Logout</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
</header>
<main role="main">
  <router-outlet></router-outlet>
</main>
<footer class="container pt-4 my-md-5 pt-md-5 border-top">

  <div class="section-5">
    <div class="container-fluid social">
      <div class="d-flex flex-row justify-content-center">
        <fa-icon [icon]="faFacebookF" class="fa-2x m-2"></fa-icon>
        <fa-icon [icon]="faInstagram" class="fa-2x m-2"></fa-icon>
        <fa-icon [icon]="faTwitter" class="fa-2x m-2"></fa-icon>
        <fa-icon [icon]="faYoutube" class=" fa-2x m-2"></fa-icon>
      </div>
    </div>
    <div class="text-center">
      <h4 class="mt-3">Get oils from online store now</h4>
      <h4 class="my-4">If any help contact us</h4>

      <div class="form-inline justify-content-center">
        <input type="email" class="form-control px-4 py-2" size="40" placeholder="your email" name="email" id="email">
        <button class="btn btn-danger px-4 py-2 contact-btn">Contact Us</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24"
        height="24">
      <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>