<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Forget Password</h3>
                </div>
                <div class="card-body">
                    <div class="server-error alert" [ngClass]="{'alert-danger': isRequestError , 'alert-success': !isRequestError}" *ngIf="forgetPwdResText">
                        {{this.forgetPwdResText}}
                    </div>
                    <form class="form" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit($event)">
                        <div class="form-group">
                            <label for="email">Enter your email address to get a link to reset your account's password</label>
                            <input type="email" class="form-control rounded-0" formControlName="email" id="email" aria-describedby="emailHelp"
                                placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="errors-message">
                            <ng-container *ngFor="let error of errors_message.email">
                                <div class="error-message invalid-feedback" 
                                    *ngIf="forgetPasswordForm.get('email').hasError(error.type) && (forgetPasswordForm.get('email').dirty || forgetPasswordForm.get('email').touched)">
                                    {{error.message}}
                                </div>
                            </ng-container>
                        </div>
                        <button type="submit" class="btn btn-primary float-right" [disabled]="!forgetPasswordForm.valid">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>